<mat-card class="wrapper">
  <div class="column column__left">
    <div class="image-wrapper">
      <img src="assets/avatar.jpg" class="mat-elevation-z8" alt="avatar" />
    </div>
    <mat-card-title class="title">Inga Baranets</mat-card-title>
    <mat-card-title class="title">Frontend Developer</mat-card-title>
    <p class="header background-primary mat-elevation-z8">Contacts</p>
    <mat-list>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>travel_explore</mat-icon>
        Moscow, Russia
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>phone_iphone</mat-icon>
        +7 (910) 436-39-27
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>mail</mat-icon>
        rubiaqute@gmail.com
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>link</mat-icon>
        <a href="https://github.com/rubiaqute">https://github.com/rubiaqute</a>
      </mat-list-item>
    </mat-list>
    <p class="header background-primary mat-elevation-z8">Skills</p>
    <mat-chip-list>
      <mat-chip color="pimary" selected>HTML</mat-chip>
      <mat-chip color="pimary" selected>CSS</mat-chip>
      <mat-chip color="pimary" selected>Javascript</mat-chip>
      <mat-chip>Typescript</mat-chip>
      <mat-chip>SASS</mat-chip>
      <mat-chip color="accent" selected>Angular</mat-chip>
      <mat-chip>Angular Material</mat-chip>
      <mat-chip>Git</mat-chip>
      <mat-chip>Photoshop</mat-chip>
      <mat-chip>VS Code</mat-chip>
    </mat-chip-list>
  </div>
  <div class="column column__right">
    <p class="header background-primary mat-elevation-z8 header_right">
      Summary
    </p>
    <mat-list class="list">
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        Full of enthusiasm and passion Frontend Developer beginner;
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        Excellent communication skills including positive experience in
        networking with clients, international suppliers, colleagues and
        government authorities;
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        High level of responsibility and self-organization, wide experience in
        distant working with hard deadlines
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        Feeling comfortable in constantly changing circumstances and
        challengeable situations;
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        Quick learner and good listener
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        Dream of working in programming
      </mat-list-item>
    </mat-list>
    <p class="header background-primary mat-elevation-z8 header_right">
      Languages
    </p>
    <div class="language-item">
      <p class="language-item__description">English - C1</p>
      <div class="language-item__image">
        <a href="https://www.efset.org/cert/djh7w8" target="_blank">
          <img src="assets/english_level.png" alt="english-level" />
        </a>
      </div>
    </div>
    <div class="language-item">
      <p class="language-item__description">Spanish - B1</p>
      <div class="language-item__image">
        <img src="assets/spanish_level.png" alt="spanish-level" />
      </div>
    </div>
    <p class="header background-primary mat-elevation-z8 header_right">
      Education
    </p>
    <mat-list class="list">
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        2006-2011 Russian Customs Academy (graduated with distinction)
        Faculty: World Economy
        Specialty: Foreign Trade
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        September, 2021 - March, 2022 Roller Scopes School “JavaScript/Front-end” (finished in top-10 total score)
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        January, 2022 V. Minin, “Angular, Theory and Practice”
      </mat-list-item>
    </mat-list>
    <p class="header background-primary mat-elevation-z8 header_right">
      Code Example
    </p>

    <pre><code [highlight]="'function flip(fn) {
      return (...args) =>
        fn.apply(this, args.reverse())
   }'">
    </code></pre>
  </div>
</mat-card>
