.wrapper {
  max-width: 90%;
  margin: auto;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
}
.column {
  text-align: center;
}
.link {
  color: inherit;
  &:active,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.column__left {
  width: 30%;
}
.column__right {
  width: 65%;
}
.image-wrapper {
  img {
    width: 40%;
    border-radius: 50%;
  }
  text-align: center;
  margin-bottom: 5%;
}
.title {
  margin-bottom: 5%;
}
.header {
  font-size: 2rem;
  padding: 1%;
  text-align: center;
  color: white;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  &.header_right {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
.list-item {
  font-size: 1.6rem;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: 3rem;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar.list-item_wide {
  height: 4.5rem;
}
mat-chip-list {
  margin-top: 5%;
}
.list {
  text-align: left;
}
.language-item {
  display: flex;
  justify-content: center;
  .language-item__description {
    width: 20%;
    font-size: 2rem;
  }
  .language-item__image {
    width: 75%;
    a {
      img {
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 2px rgba(146, 121, 121, 0.486);
        }
      }
    }
    img {
      width: 50%;
    }
  }
}
.text-emphasis{
  font-weight: bold;
}
.codewars-list{
  display: flex;
  justify-content: baseline;
  column-gap: 5%;
}
.codewars-list__left{
  width:20%;
}
.divider{
height:0.2rem
}
.project-card__content{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.project-card__left{
width:60%;

}
.project-card__right{
  width: 30%;
  img{
    width:90%;
    margin:auto;
  }
}
.project-card__title{
  margin-bottom: 5%;
}
.project-card__link{
  text-decoration: none;

}
.project-card{
  margin-bottom: 5%;
  &:hover{
    box-shadow: 4px 4px 4px 4px rgba(146, 121, 121, 0.486);
    text-decoration: none;
  }
}
