<mat-card class="wrapper">
  <div class="column column__left mat-elevation-z6">
    <div class="image-wrapper">
      <img src="assets/avatar.jpg" class="mat-elevation-z8" alt="avatar" />
    </div>
    <mat-card-title class="title">{{'CONTENT.NAME'| translate}}</mat-card-title>
    <mat-card-title class="title">{{'CONTENT.POSITION'| translate}}</mat-card-title>
    <p  id ="contacts" class="header background-primary mat-elevation-z8">{{'CONTENT.CONTACTS'| translate}}</p>
    <mat-list>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>travel_explore</mat-icon>
        {{'CONTENT.LOCATION'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>phone_iphone</mat-icon>
        +7 (910) 436-39-27
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>mail</mat-icon>
        rubiaqute@gmail.com
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>link</mat-icon>
        <a href="https://github.com/rubiaqute" target="_blank" class="link">github.com/rubiaqute</a>
      </mat-list-item>
    </mat-list>
    <p   id ="skills" class="header background-primary mat-elevation-z8">{{'CONTENT.SKILLS'| translate}}</p>
    <mat-chip-list>
      <mat-chip color="pimary" selected>HTML</mat-chip>
      <mat-chip color="pimary" selected>CSS</mat-chip>
      <mat-chip color="pimary" selected>Javascript</mat-chip>
      <mat-chip>Typescript</mat-chip>
      <mat-chip>SASS</mat-chip>
      <mat-chip color="accent" selected>Angular</mat-chip>
      <mat-chip>Angular Material</mat-chip>
      <mat-chip>Git</mat-chip>
      <mat-chip>Photoshop</mat-chip>
      <mat-chip>VS Code</mat-chip>
    </mat-chip-list>
  </div>
  <div class="column column__right mat-elevation-z6">
    <p id ="summary" class="header background-primary mat-elevation-z8 header_right">
      {{'CONTENT.SUMMARY.TITLE'| translate}}
    </p>
    <hr class="divider background-accent">
    <mat-list class="list">
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.SUMMARY.POINT1'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.SUMMARY.POINT2'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.SUMMARY.POINT3'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.SUMMARY.POINT4'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.SUMMARY.POINT5'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.SUMMARY.POINT6'| translate}}
      </mat-list-item>
    </mat-list>
    <p id ="languages" class="header background-primary mat-elevation-z8 header_right">
      {{'CONTENT.LANGUAGES.TITLE'| translate}}
    </p>
    <hr class="divider background-accent">
    <div class="language-item">
      <p class="language-item__description">{{'CONTENT.LANGUAGES.EN'| translate}} - C1</p>
      <div class="language-item__image">
        <a href="https://www.efset.org/cert/djh7w8" target="_blank" class="link">
          <img src="assets/english_level.png" alt="english-level" />
        </a>
      </div>
    </div>
    <div class="language-item">
      <p class="language-item__description">{{'CONTENT.LANGUAGES.ES'| translate}} - B1</p>
      <div class="language-item__image">
        <img src="assets/spanish_level.png" alt="spanish-level" />
      </div>
    </div>
    <p  id ="education" class="header background-primary mat-elevation-z8 header_right">
      {{'CONTENT.EDUCATION.TITLE'| translate}}
    </p>
    <hr class="divider background-accent">
    <mat-list class="list">
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.EDUCATION.ACADEMY'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.EDUCATION.RS'| translate}}
      </mat-list-item>
      <mat-list-item class="list-item list-item_wide">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.EDUCATION.MININ'| translate}}
      </mat-list-item>
    </mat-list>
    <p id ="code" class="header background-primary mat-elevation-z8 header_right">
      {{'CONTENT.CODE.TITLE'| translate}}
    </p>
    <hr class="divider background-accent">
    <mat-list class="list">
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        Codewars:&nbsp;<a href="https://www.codewars.com/users/rubiaqute" target="_blank" class="link"> rubiaqute</a>
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.CODE.RANK'| translate}}: 4ky
      </mat-list-item>
      <mat-list-item class="list-item">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        {{'CONTENT.CODE.KATA'| translate}}: 90
      </mat-list-item>
    </mat-list>
    <pre><code class="language-typescript" [innerHTML]="code">
    </code></pre>
    <hr class="divider background-accent">
    <p id ="projects" class="header background-primary mat-elevation-z8 header_right">
      {{'CONTENT.PROJECTS.TITLE'| translate}}
    </p>
    <a href="https://rubiaqute.github.io/rsschool-mirror/art-quiz/art-quiz/" target="_blank" class="project-card__link">
      <mat-card class="project-card">
      <mat-card-header class="project-card__title">
        <mat-card-title >Art-Quiz</mat-card-title>
      </mat-card-header>
      <mat-card-content class="project-card__content">
        <div class="project-card__right">
        <img mat-card-image src="assets/projects/art-quiz.png" alt="project-screenshot">
      </div>
        <div class="project-card__left">
        <mat-card-subtitle>{{'CONTENT.PROJECTS.TECHNOLOGIES'| translate}}</mat-card-subtitle>
        <p>
          Javascript, HTML, Sass, Webpack
        </p>
        <mat-card-subtitle>{{'CONTENT.PROJECTS.DESCRIPTION'| translate}}</mat-card-subtitle>
        <p>
          {{'CONTENT.PROJECTS.ART'| translate}}
        </p>
      </div>
      </mat-card-content>
    </mat-card>
  </a>
  <a href="https://rubiaqute.github.io/rsschool-mirror/museum-dom/" target="_blank" class="project-card__link">
    <mat-card class="project-card">
    <mat-card-header class="project-card__title">
      <mat-card-title >Museum</mat-card-title>
    </mat-card-header>
    <mat-card-content class="project-card__content">
      <div class="project-card__right">
      <img mat-card-image src="assets/projects/museum.png" alt="project-screenshot">
    </div>
      <div class="project-card__left">
      <mat-card-subtitle>{{'CONTENT.PROJECTS.TECHNOLOGIES'| translate}}</mat-card-subtitle>
      <p>
        Javascript, HTML, CSS
      </p>
      <mat-card-subtitle>{{'CONTENT.PROJECTS.DESCRIPTION'| translate}}</mat-card-subtitle>
      <p>
        {{'CONTENT.PROJECTS.MUSEUM'| translate}}
      </p>
    </div>
    </mat-card-content>
  </mat-card>
</a>
<a href="https://rubiaqute-momentum.netlify.app/" target="_blank" class="project-card__link">
  <mat-card class="project-card">
  <mat-card-header class="project-card__title">
    <mat-card-title >Momentum</mat-card-title>
  </mat-card-header>
  <mat-card-content class="project-card__content">
    <div class="project-card__right">
    <img mat-card-image src="assets/projects/momentum.png" alt="project-screenshot">
  </div>
    <div class="project-card__left">
    <mat-card-subtitle>{{'CONTENT.PROJECTS.TECHNOLOGIES'| translate}}</mat-card-subtitle>
    <p>
      Javascript, HTML, CSS, Webpack
    </p>
    <mat-card-subtitle>{{'CONTENT.PROJECTS.DESCRIPTION'| translate}}</mat-card-subtitle>
    <p>
      {{'CONTENT.PROJECTS.MOMENTUM'| translate}}
    </p>
  </div>
  </mat-card-content>
</mat-card>
</a>
<a href="https://rubiaqute.github.io/rsschool-mirror/christmas2/#/" target="_blank" class="project-card__link">
  <mat-card class="project-card">
  <mat-card-header class="project-card__title">
    <mat-card-title >Christmas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="project-card__content">
    <div class="project-card__right">
    <img mat-card-image src="assets/projects/christmas.png" alt="project-screenshot">
  </div>
    <div class="project-card__left">
    <mat-card-subtitle>{{'CONTENT.PROJECTS.TECHNOLOGIES'| translate}}</mat-card-subtitle>
    <p>
      Angular (+routing, animation), HTML, Sass. Extra: angular-slider/ngx-slider, html2canvas
    </p>
    <mat-card-subtitle>{{'CONTENT.PROJECTS.DESCRIPTION'| translate}}</mat-card-subtitle>
    <p>
      {{'CONTENT.PROJECTS.CHRISTMAS'| translate}}
    </p>
  </div>
  </mat-card-content>
</mat-card>
</a>
<a href="https://rslang-aleshkinpaul.netlify.app/#/" target="_blank" class="project-card__link">
  <mat-card class="project-card">
  <mat-card-header class="project-card__title">
    <mat-card-title >RSLang</mat-card-title>
  </mat-card-header>
  <mat-card-content class="project-card__content">
    <div class="project-card__right">
    <img mat-card-image src="assets/projects/rslang.png" alt="project-screenshot">
  </div>
    <div class="project-card__left">
    <mat-card-subtitle>{{'CONTENT.PROJECTS.TECHNOLOGIES'| translate}}</mat-card-subtitle>
    <p>
      Angular (+routing, animation, HttpClient), Angular Material, HTML, Sass. Extra: ngx-echarts, lord icons
    </p>
    <mat-card-subtitle>{{'CONTENT.PROJECTS.DESCRIPTION'| translate}}</mat-card-subtitle>
    <p>
      {{'CONTENT.PROJECTS.RSLANG'| translate}}
    </p>
  </div>
  </mat-card-content>
</mat-card>
</a>
  </div>
</mat-card>

